.xls-block {
    background-color: #b2cdd3;
    border-radius: 10px;
    padding: 10px;
}

.xls-block-filters {

}

.xls-block-filters-input {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    margin-top: 8px;
    height: 25px;
    padding: 0 5px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #87919c #959ea9 #9ea7b1 #959ea9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7);
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}